@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding:0;
  background-color: #fafafa;

}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}



nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 10px 30px rgba(0, 0,0, 2);
  position:fixed;
  left:0;
  top:0;
  width: 100%;
  z-index:1; /*Add this*/
  background-color: #ffff;
  /* border: 2px solid salmon; */
}

nav ul {
  display: flex;
}

nav ul li a {
  height:40px ;
  line-height: 43px;
  margin:3px;
  padding: 0px 22px;
  display: flex;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: #242424;
  letter-spacing: 1px;
  border-radius: 2px;
}

nav li a:hover {
  text-decoration: underline;
  color: crimson;
}

.nav-title {
  font-family: 'Ephesis', cursive;
  font-size: 30px;
}



.about-container {
  display:flex;
  width: 100%;
  height: calc(100vh - 220px);
  padding-top: 80px;
  /* position:relative; */
  /* border: 2px solid green; */
}

.pic {
  margin: 30px 250px;
  padding:10px;
    width:200px;
    height: 200px;
    border-radius: 100px;
    border:2px solid crimson;
  
  }



.about-left {
  width: 500px;
  height: 100px;
  display:flex;
  flex-direction:column ;
  /* border:2px solid green; */
  margin: 10px 150px;
}

.wrapper {
display:flex;
justify-content: space-around;
margin-top: 20px ;
}

span {
  font-size: 25px;
  color:crimson;
}

.cv {
 
  background-color: crimson;
  color:white;
  padding: 10px;
  border-radius: 5px;
}

.portfolio-btn {

  
  background-color: crimson;
  color:white;
  padding: 10px;
  border-radius: 5px;
}


.about-btn-wrapper {
display: flex;
flex-direction: row;
justify-content: space-between;
}

/* Education */

.education-container {
   margin-top: 60px;

  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  
  position:relative;

  /* border: 2px solid hotpink; */
}

.education-section {
   display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  margin-left: 30px; 


}

.timeline-section{

	min-height: 100vh;
	padding: 100px 15px;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #2f363e;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}

.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: crimson;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 18px;
	color: crimson;
	margin:6px 0 15px;
}
.timeline-content{
    background-color: #2f363e;
	padding: 30px;
	border-radius: 5px;
}
.timeline-content h3{
    font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}



/* Portfolio */

.portfolio-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

 
}

.item {
  max-width: 300px;
  min-height: 200px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  margin: 10px 40px;
  display: inline-block;
  
}

.item h3  {
  text-align: center;
}



.details-container {
 
  width: 80%;
}



.portfolio-title {
  font-size: 45px;
}

.portfolio-ul{
  margin-top:10px;
  padding:0;
  list-style: none;
  display: flex;
}

.portfolioList {
  font-size: 14px;
  margin-right: 50px;
  padding:10px;
  border-radius: 10px;
  cursor: pointer;
}

.active {
  background-color: crimson ;
  color: white;
}

.portfolio-image {
  width:100%;
	height: 100%;
  object-fit: cover;
  z-index: 1;
}

.btn-project {
  margin:5px 90px;
  background: #14dcb4;
  color: #fff;
  border: none;
  padding: 5px 20px;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  border:none;

}








/* Contact */

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  border-radius: 10px;
}


.sign-up-text {
  text-align: center;
}


.signup-box {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	background-color: #fafafa;
  border-radius:10px;
  margin: 100px 400px;
}

.signup-left{
	background: url("images/contact1.png") no-repeat center;
	background-size: cover;
	height: 45%;
  border-radius: 10px;
}

.signup-right{
	padding: 25px 40px;
}

.field{
	width: 85%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.2);
}

textarea{
	min-height: 150px;
  min-width: 220px;
  border-radius: 10px;
}

.contact-btn {
  width: 50%;
	padding: 0.5rem 1rem;
	background-color: crimson;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
  border-radius: 10px;
}



.social-media {

  margin-top:40px;
  display:flex;
  justify-content: space-between;
  color: black;
}

.result-text {
  font-size: 20px;
  color: #ef6461;
}

/* Media Queries */

@media only screen and (max-width: 1024px)
{
  .about-container {
    display:flex;
    width: 100%;
    height: calc(100vh - 700px);
    padding-top: 80px;
    /* position:relative; */
    /* border: 2px solid green; */
  }

  .education-container {
    margin-top: 0px;
  }

  .pic {
    margin: 30px 0px;
    padding:10px;
      width:100px;
      height: 100px;
      border-radius: 100px;
      border:2px solid crimson;
    
    }

    nav ul li a {
      height:40px ;
      line-height: 43px;
      margin:3px;
      padding: 0px 22px;
      display: flex;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 500;
      color: #242424;
      letter-spacing: 1px;
      border-radius: 2px;
    }

    .signup-box {
      display: flex;
      width: 950px;
      height: 610px;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      /* box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19); */
      border-radius:10px;
      margin:20px 40px;
      /* border: 2px solid green; */
     
    }
 
   

    .field{
      width: 10%;
      border: 2px solid rgba(0, 0, 0, 0);
      outline: none;
      background-color: rgba(230, 230, 230, 0.6);
      padding: 0.5rem 1rem;
      font-size: 1.1rem;
      margin-bottom: 22px;
      transition: .3s;
    }

    form label {
      display: block;
    }

    input {
      background-color: #eee;
      border: none;
      margin: 8px 0;
      width: 100%;
      border-radius: 10px;
    }

    .details-container {

      margin-left: 30px;
      width: 80%;
    }

    .item {
      max-width: 300px;
      min-height: 200px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
      padding: 20px;
      border-radius: 5px;
      margin: 10px 53px;
      display: inline-block;
      
    }
}






/*Media Queries for timeline*/
@media only screen and (max-width: 768px) {

  .timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}


  .education-container {
    margin-top: 350px;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
  }

  .details-container {
 display:inline-block;
 
    width: 100%;
    height: 50%;
    margin-left: 270px;
  }

  .portfolioList {
   
   margin-left: 270px;
   
  
  }
  

.portfolio-container {
  width: 100%;
  height: 100%;

}

.item {
  max-width: 700px;
  min-height: 30px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  margin: 10px 40px;
  display: block;
  
}

  .portfolio-title,.education-title {
    margin-left: 200px;
  }

    .signup-box {
    display: flex;
    width: 750px;
    height: 30%;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    /* box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19); */
    border-radius:10px;
    margin:20px 140px;
    /* border: 2px solid green; */
   
  }

  .btn-project {
    margin:5px 260px;
    background: #14dcb4;
    color: #fff;
    border: none;
    padding: 5px 20px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    border:none;
  
  }
 
}

@media only screen and (max-width: 375px)  {
  .about-container {
    display:flex;
  
    height: calc(100vh -200px);
    padding-top: 70px;
    /* position:relative; */
    /* border: 2px solid green; */
  }



    nav ul li a {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      align-content: center;
      font-size: 6px;
    
    }

    .nav-title {
     display:none;
    }


    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      box-shadow: 5px 10px 30px rgba(0, 0,0, 2);
      position:fixed;
      left:0;
      top:0;
      width: 375px;
    
      z-index:2; /*Add this*/
      background-color: #ffff;
      /* border: 2px solid salmon; */
    }
    .pic {
      margin: 10px 30px;
      padding:5px;
        width:70px;
        height: 70px;
        border-radius: 100px;
        border:2px solid crimson;
      
      }
    
    
    
    .about-left {
      width: 380px;
      height: 100px;
      display:flex;
      flex-direction:column ;
      /* border:2px solid green; */
      margin: 10px ;
    }

    .about-left h1,h2,h3,p {
      font-size: 13px;
    }
    
    .wrapper {
     width: 375px;
      height: calc(100vh - 370px);
      
    }
    
    span {
      font-size: 10px;
      color:crimson;
    }
    
    .cv {
     
      background-color: crimson;
      color:white;
      padding: 5px;
      border-radius: 5px;
      width: 100px;
    }

    .about-btn-wrapper {
    display:flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .portfolio-btn {
    width: 100px;
  
    padding: 5px;
  }

  .education-container {
    margin-top: 460px;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
  }

  .education-title, .portfolio-title {
    text-align: center;
    font-size: 20px;
    margin-right: 150px;
  }

  .portfolioList {
    font-size: 14px;
    margin: 10px;
    padding:10px;
    border-radius: 10px;
    cursor: pointer;
  }

  .details-container {
 
    margin:0;
    width: 80%;
  }

  .item {
    max-width: 700px;
    min-height: 30px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    margin: 10px 40px;
    display: block;
    
  }



  .btn-project {
    margin:5px 50px;
    background: #14dcb4;
    color: #fff;
    border: none;
    padding: 5px 20px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    border:none;
  
  }

  .signup-box {
   
  background-color:#fafafa ;
    width: 375px;
    margin:0px;
  }
      
}


@media only screen and (max-width: 414px)   {
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 10px 30px rgba(0, 0,0, 2);
    position:fixed;
    left:0;
    top:0;
    width: 720px;
  
    z-index:2; /*Add this*/
    background-color: #ffff;
    /* border: 2px solid salmon; */
  }


  nav ul li a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    font-size: 15px;
  
  }

  .nav-title {
    display: none;
  }

  .pic {
    margin: 10px 100px;
    padding:5px;
      width:70px;
      height: 70px;
      border-radius: 100px;
      border:2px solid crimson;
    
    }
  
  
  
  .about-left {
    width: 380px;
    height: 100px;
    display:flex;
    flex-direction:column ;
    /* border:2px solid green; */
    margin: 10px ;
  }

  .education-container {
    margin-top: 540px;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
  }

  .about-left h1,h2,h3,p {
    font-size: 15px;
  }

  .education-title, .portfolio-title {
    text-align: center;
    font-size: 30px;
    margin-right: 30px;
  }

  .btn-project {
    margin:5px 100px;
    background: #14dcb4;
    color: #fff;
    border: none;
    padding: 5px 20px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    border:none;
  
  }

  .signup-box {
   
  background-color:#fafafa ;
    width: 414px;
    margin-left:100px;
  }

  .portfolioList {
    text-align: center;
    font-size: 13px;
    margin: 10px;
    padding:10px;
    border-radius: 10px;
    cursor: pointer;
  }
   .portfolio-container {
     width: 414px;
   }
}